In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
first_data = pd.read_csv('50_Startups.csv')
first_data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
transformer_list = [
     ('encoded', OneHotEncoder(dtype='int'), [3]),
     ('skip', 'passthrough', ["R&D Spend", "Administration", "Marketing Spend", "Profit"])
]

In [5]:
coltran = ColumnTransformer(transformer_list)
tran = coltran.fit_transform(first_data)

In [6]:
new_data = pd.DataFrame(tran, columns=coltran.get_feature_names())
new_data.head()

,encoded__x0_California,encoded__x0_Florida,encoded__x0_New York,R&D Spend,Administration,Marketing Spend,Profit
0,0.0,0.0,1.0,165349.20,136897.80,471784.10,192261.83
1,1.0,0.0,0.0,162597.70,151377.59,443898.53,191792.06
2,0.0,1.0,0.0,153441.51,101145.55,407934.54,191050.39
3,0.0,0.0,1.0,144372.41,118671.85,383199.62,182901.99
4,0.0,1.0,0.0,142107.34,91391.77,366168.42,166187.94

In [7]:
a = new_data.iloc[:, :-1].values
b = new_data.iloc[:, 6].values

In [9]:
b = b.reshape(len(b),1)
b.shape

(50, 1)

In [13]:
am_train, am_test, bm_train, bm_test = train_test_split(a, b, test_size=0.2, random_state=40)

In [14]:
mr = LinearRegression()
mr.fit(am_train, bm_train)

bm_pred = mr.predict(am_test)

In [15]:
join = np.concatenate((bm_test, bm_pred), axis=1)
join

array([[ 96778.92      ,  97886.52854502],
       [101004.64      , 100689.59753404],
       [ 14681.4       ,  50766.18448358],
       [ 81229.06      ,  66829.09134771],
       [ 64926.08      ,  46799.4501051 ],
       [192261.83      , 189232.29587141],
       [124266.9       , 128691.2482984 ],
       [166187.94      , 170348.90917   ],
       [144259.4       , 135737.68395107],
       [191050.39      , 180434.30891611]])

In [17]:
r2_mr = r2_score(bm_test, bm_pred)
print(r2_mr)

0.929766247135097